[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docx2pdf = "*"
pdf2docx = "*"
pillow = "*"
python-pptx = "*"

[dev-packages]

[requires]
python_version = "3.12"
